header{
    background: #012D63;
    }
    .menu-list {
        display: flex;
        justify-content: center;
        list-style: none;
        margin-top: 30px;
        font-size: 24px;
        margin-left: 420px;
    }
    .menu-item {
        font-size: 14px;
        padding-left: 99px;
        color: #C7C7C7;
        align-items: center;
        text-transform: uppercase;
    }
    .container{
        padding: 10px 160px;
    }
    .header_content{
        display: flex
    }
    .div_top{
        background-image: url(../Front-end/img/ed69f7fa91929ff49ecafac2bfd72360\ 1.png);
        background-size: cover;
        background-repeat: no-repeat;
    }